<div class="pagination u-center">
    <!-- previous page link -->
    <div class="pagination-item short {{ 'disabled' if not items.prev_page_number else '' }}">
        {% if items.prev_page_number %}
            <a href="{{ base_url }}?q={{ q }}&skip={{ (items.prev_page_number - 1) * limit }}&limit={{ limit }}">Prev</a>
        {% else %}
            <a class="disabled">Prev</a>
        {% endif %}
    </div>

    {% set pages_num = 1 + items|length // limit %}

    <!-- page number link-->
    {% for idx in range(pages_num) %}
        <div class="pagination-item short {{ 'selected' if items.current_page_number == idx + 1 else '' }}">
            {% if items.current_page_number == idx + 1 %}
                <a>{{ idx + 1 }}</a>
            {% else %}
                <a href="{{ base_url }}?q={{ q }}&skip={{ idx * limit }}&limit={{ limit }}">{{ idx + 1 }}</a>
            {% endif %}
        </div>
    {% endfor %}

    <!-- next page link -->
    <div class="pagination-item short {{ 'disabled' if not items.next_page_number else '' }}">
        {% if items.next_page_number %}
            <a href="{{ base_url }}?q={{ q }}&skip={{ items.next_page_number * limit }}&limit={{ limit }}">Next</a>
        {% else %}
            <a class="disabled">Next</a>
        {% endif %}
    </div>
</div>
