{% extends "cirrus/base.html" %}

{% block head_title %}Test{% endblock %}

{% block body_content %}
    {% include "cirrus/profile/profile_tabs.html" %}

    {# Main container...#}
    <div class="row">
        <div class="col">
            <p>The seed-bearing part of a plant, consisting of reproductive organs (stamens and carpels) that are
                typically surrounded by a brightly coloured corolla (petals) and a green calyx (sepals).
            </p>
        </div>
        <div class="col">
            <p>There should be also TWO columns</p>
        </div>
    </div>

{% endblock %}
