<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    {# Extra meta tags per page can go here #}
    {% block head_extra_meta %}{% endblock %}

    {## HEAD CSS ##}
    <link href="https://unpkg.com/cirrus-ui" rel="stylesheet" crossorigin="anonymous">

    {# App CSS #}
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}?v=0.1.0">
    {# Tip: update the `?v` param to force browsers to recache a new file version. #}
    {% block head_css %}{% endblock %}

    {## HEAD JS - deferred scripts only! ##}
    {# FontAwesome SVG styles #}

    <script defer src="{{ url_for('static', path='vendor/fontawesome-free-5.15.4/js/all.min.js') }}"></script>

    {% block head_js %}{% endblock head_js %}

    <title>{% block head_title %}{% endblock %} | FRAAN!</title>
</head>
<body>

<header>
    {% include "widgets/header.html" %}
</header>

<br>
<br>
<br>
<br>

{# All main content resides within a container #}
<main role="main" class="container {% block body_container_classes %}{% endblock %}">
    {% block body_content %}{% endblock %}
</main>

<footer class="footer">
    {% include "widgets/footer.html" %}
</footer>

{## JAVASCRIPT LOADED AFTER BODY ##}

{# App JavaScript #}
<script src="{{ url_for('static', path='js/app.js') }}?v=0.1.0"></script>
{# Tip: update the `?v` param to force browsers to recache a new file version. #}

{% block body_js %}{% endblock %}
</body>
</html>
