{% if not current_user %}

    <form method="post" id="login_form">
        <label for="email">E-mail:</label><br>
        <input type="text" id="email" name="email">

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password">

        {# Login button... #}
        <input class="submit bg-info text-light" type="submit" formaction="{{ url_for('login_proxy') }}" value="Login">

        {# Register button... #}
        <input class="submit" type="submit" formaction="{{ url_for('register_proxy') }}" value="Sign Up">

        <br>

        {# Forgor password button... #}
        <input class="submit" type="submit" formaction="{{ url_for('reset:forgot_password') }}?next={{ request.path }}" value="Remind password">
    </form>

{% endif %}
