{# Global header... #}
<nav class="header navbar header-fixed u-unselectable header-animated">

    <div class="header-brand">

        {# FRAAND logo... #}
        <div class="nav-item no-hover">
            <a href="/"><h6 class="title">FRAAN[D]</h6></a>
        </div>

        {# Smaller screen hamburger... #}
        <div class="nav-item nav-btn" id="header-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>

    </div>

    {# Global search items bar... #}
    <div class="header-nav nav-left row level">
        <div class="col-xl-3 level-item"></div>
        <div class="col-xl-10 level-item">
            {% include "widgets/search/bar.html" %}
        </div>
    </div>

    {# City dropdown... #}
    <div class="nav-item has-sub" id="dropdown">
        <a class="nav-dropdown-link">
            <span class="icon"><i class="fa fa-wrapper fa-book" aria-hidden="true"></i></span>
            {% if current_user %}
                {{ current_user.city }}
            {% else %}
                City
            {% endif %}
        </a>
    </div>

    {# Login/profile... #}
    <div class="nav-item">
        {% if current_user %}

            {# User avatar... #}
            <div class="nav-item no-hover">
                <img class="img-contain" src="{{ url_for('static', path='otter.jpg') }}" style="height: 60px;" alt="otter.jpg"/>
                {{ current_user.email }}
            </div>

            {# Logout form... #}
            {% include "widgets/auth/logout.html" %}

        {% else %}

            {# Login form... #}
            <div class="dropdown">
                Login / Sign Up
                <div class="dropdown-content">
                    {% include "widgets/auth/login.html" %}
                </div>
            </div>

        {% endif %}
    </div>

</nav>
