{# Global header... #}
<!--<nav class="navbar header">-->
<div class="header header-fixed u-unselectable header-animated">

    {# Profile logo+link... #}

    <div class="header-brand">
    {% if user.authorized %}
        <div class="nav-item no-hover">
            <a><img src="{{user.avatar.url}}" alt="profile avatar"/></a>
        </div>
    {% else %}
        <div class="nav-item no-hover">
            <a><h6 class="title">FRAAN</h6></a>
        </div>
    {% endif %}
        <div class="nav-item nav-btn" id="header-btn">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>


    {# Global search items bar... #}

    <div class="header-nav nav-left row level">
<!--        <div class="col-xl-3 level-item"></div>-->
        <div class="col-xl-10 level-item"><input type="search" placeholder="Search..."></div>
    </div>

    {# City dropdown... #}
<!--    <div class="nav-item has-sub" id="dropdown">-->
<!--        <a class="nav-dropdown-link">-->
<!--            <span class="icon"><i class="fa fa-wrapper fa-book" aria-hidden="true"></i></span>-->
<!--            {% if user.authorized and user.%}-->
<!--            {{user.city}}-->
<!--            {% else %}-->
<!--            City-->
<!--            {% endif %}-->
<!--        </a>-->
<!--    </div>-->

  <div class="header header-fixed u-unselectable header-animated"></div>

</div>
