<div class="pagination">
{% for page in pages %}
    <div class="pagination-item short disabled"><a href="!#" class="disabled">Prev</a></div>
    <div class="pagination-item short selected"><a href="!#">1</a></div>
    <div class="pagination-item short"><a href="!#">2</a></div>
    <div class="pagination-item short"><a href="!#">3</a></div>
    <div class="pagination-item short"><a href="!#">4</a></div>
    <div class="pagination-item short"><a>...</a></div>
    <div class="pagination-item short"><a href="!#">13</a></div>
    <div class="pagination-item short"><a href="!#">Next</a></div>
{% endfor %}
    <div class="pagination-item short disabled"><a href="!#" class="disabled">Prev</a></div>
    <div class="pagination-item short selected"><a href="!#">1</a></div>
    <div class="pagination-item short"><a href="!#">2</a></div>
    <div class="pagination-item short"><a href="!#">3</a></div>
    <div class="pagination-item short"><a href="!#">4</a></div>
    <div class="pagination-item short"><a>...</a></div>
    <div class="pagination-item short"><a href="!#">13</a></div>
    <div class="pagination-item short"><a href="!#">Next</a></div>
</div>
